@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/mapskin/css/mapskin.min.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body * {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #f6f6f6;
}
body *::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
body *::-webkit-scrollbar-track {
  background: #f6f6f6;
}
body *::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 20px;
  border: 3px solid #f6f6f6;
}

.bg-success {
  background-color: #15996f !important;
}