.DS_Store
.git
.idea
.svn
.vscode
.env
**/vendor/
**/node_modules/
Dockerfile
data_dir/cache/*
data_dir/data/*
data_dir/fonts/*
data_dir/logs/*
data_dir/symbols/*
data_dir/templates/*
data_dir/workspaces/*
public/mapserver/web/*