RewriteEngine On
RewriteBase /mapserver/

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# serve virtual resources with index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^rest/(.*)/?$ rest/index.php?$1 [QSA,END]

# serve virtual resources with index.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^web/(.*)/?$ web/index.html [QSA,END]

# redirect to client if url is empty
RewriteRule ^$ web/ [L,R=301]